*{
    padding: 0px;
    margin: 0px;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: aliceblue;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    width: 100%;
    height: 15vh;
    background-color: #f6f6ee;
}
#nav #link{
    display: flex;
    gap: 20px;
}
#link a{
    text-decoration: none;
    font-weight: 900;
    font-family: voyage;
    
}
#nav h3{
    text-transform: uppercase;
    font-weight: 300;
}
#nav h3 span{
    font-weight: 600;
    
}

#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: #f6f6ee;
}
#heading h1{
    font-size: 40px;
    font-family: playfire Display;
}
#heading p{
    font-size: 16px;
    text-align: center;
    margin: 20px 0px;
    width: 50%;

}
#heading button{
    padding: 12px 32px;
    background-color: black;
    color: #f6f6ee;
    border-radius: 100px;
}
#heading button:hover{
    background-color: blue;
}
#greenary{
    width: 100%;
}
#greenary img{
    width: 100%;
    
}
 
#info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10vw 5vw;
    margin-top: 0px;
    background-color: #f6f6ee;
}
#info #ileft{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    width: 40%;
    border-right: 2px solid #000;
}
#info #ileft #leaf{
    width: 40%;
    height: 150px;
    
}
#info #ileft p{
    text-align: left;
}